<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/fe55a8ead5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span><i class="fa-solid fa-person-running"></i></span> Quick-Stop Coffee Shop</h1>
        <a href="/logout" class="btn btn-default btn-sm">Clock - Out</a>
        <a href="/logout" class="btn btn-warning btn-sm">Reset order</a>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-3">
          <h3><span><i class="fa-solid fa-mug-hot"></i></i></span> Menu</h3>

          <% if (user.local.email) { %>
              <p>
                <form action="/messages" method="POST">
                  <button class="ice btn btn-primary" value="Ice coffee" name="order">Ice Coffee</button><br>
                  <button class="hot btn btn-primary" value="Hot coffee" name="order">Hot Coffee</button><br>
                  <button class="bagel btn btn-primary" value="Bagel" name="order">Fresh Bagel</button><br>
                  <button class="muffin btn btn-primary" value="Muffin" name="order">Muffin</button><br>
                  <button class="water btn btn-primary" value="Bottled Water" name="order">Bottled Water</button><br>
                  <button class="soda btn btn-primary" value="Bottled Soda" name="order">Bottled Soda</button><br>
                  <button class="tea btn btn-primary" value="Herbal Tea" name="order">Herbal Tea</button><br>
                  <button class="cookie btn btn-primary" value="Cookie" name="order">Cookie</button><br>
                  <button class="smoothie btn btn-primary" value="Smoothie" name="order">Smoothie</button><br>
                  <button class="oj btn btn-primary" value="Orange Juice" name="order">Orange juice</button><br>
                  <button class="apple btn btn-primary" value="Apple-Fruit" name="order">Apple</button><br>
                  <button class="banana btn btn-primary" value="Banana-Fruit" name="order">Banana</button><br>
              </form>
                  <!-- <strong>id</strong>: <%= user._id %><br>
                  <strong>email</strong>: <%= user.local.email %><br> -->
                  <!-- <strong>password</strong>: <%= user.local.password %> -->
              </p>

              <a href="/unlink/local" class="btn btn-default"></a>
          <% } else { %>
              <a href="/connect/local" class="btn btn-default"></a>
          <% } %>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-8 col-sm-6">
              <h3><i class="fa-solid fa-list"></i> Order</h3>
              <ul class="messages">
              <% for(var i=0; i<messages.length; i++) {%>
                <li class="message">
                  <span class="test"><%= messages[i].order %></span>
                  <!-- <span><%= messages[i].name %></span>
                  <span><%= messages[i].msg %></span> -->
                  <!-- <span class="zero"><%= messages[i].ice %></span> -->
                  <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                  <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
                  <span><i class="fa fa-trash-o" aria-hidden="true"></i></span> 
                </li>
              <% } %>
              </ul>
            </div>
            <div class="col-4 col-sm-6">
              <h3><span><i class="fa-solid fa-money-bills"></i></span> Cost</h3>
              <ul class="messages">
              <% for(var i=0; i<messages.length; i++) {%>
                <li class="message">
                  <span>$<%= messages[i].ice %> USD</span>
                  <!-- <span><%= messages[i].name %></span>
                  <span><%= messages[i].msg %></span> -->
                  <!-- <span><%= messages[i].thumbUp %></span>
                  <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>-->
                  <!-- <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>  -->
                   <!-- <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>  -->
                </li>
              <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
        
        <div class="row-lg-1">
          
        </div>

<script src="main.js"></script>

</body>
</html>


<!-- Worked on this with HOUSE CASS! & Isaiah , Oscar Cory-Mentor  -->
